In [2]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 5.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ------------------------------------- 250.0/250.0 kB 16.0 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [12]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 0.0/43.8 kB ? eta -:--:--
     ---------------------------------------- 43.8/43.8 kB ? eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [21]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.7-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
     ------------- -------------------------- 0.7/2.0 MB 14.0 MB/s eta 0:00:01
     ------------------------------------- -- 1.9/2.0 MB 23.6 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 17.9 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.2 kB ? eta -:--:--
     ---------------------------------------- 192.2/192.2 kB ? eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user2\anaconda3\envs\lecture_python_env\lib\site-packages (from sqlalchemy) (4.4.0)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.7

In [29]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.6/11.9 MB 11.8 MB/s eta 0:00:01
     ----- ---------------------------------- 1.6/11.9 MB 16.6 MB/s eta 0:00:01
     ---------- ----------------------------- 3.0/11.9 MB 21.4 MB/s eta 0:00:01
     ----------------- ---------------------- 5.3/11.9 MB 28.2 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 38.7 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 59.5 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 50.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247958 sha256=24d8fb313e9736a43121d443cf3ddc3014e776435a2bb060aa7f10220212f131
  Stored in directory: c:\users\user2\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [5]:
import pandas as pd

df = pd.read_excel('D:\proj\python/비실명화_data.xlsx')

print(df)

           식별구분   PRE_LMT  PRE_RT  GOODS_CD  INA_CD   AD_NO LIV_ADD RES_ADD  \
0       1000001  11000000    7.01    760143       8  AD0005      경기      경기
1       1000002  12000000    8.31    760054      15  AD0003      인천      인천
2       1000003   9000000   14.38    760010      14  AD0002      충남      충남
3       1000004  13000000    9.37    760010      23  AD0003      충북      충북
4       1000005  15000000    7.01    760143      21  AD0005      울산      울산
...         ...       ...     ...       ...     ...     ...     ...     ...
155741  1155742  11000000    6.84    760143       4  AD0005      서울      서울
155742  1155743   9000000    7.31    760143       2  AD0005      경북      경북
155743  1155744   9000000    6.95    760143       3  AD0005      충남      충남
155744  1155745  15000000    6.75    760143      27  AD0005      대구      대구
155745  1155746  11000000    6.74    760143      10  AD0005      경기      경기

       ADD_YN  SALE_TRM  ... PS0000279 PS0000282  PS0000500  PS0001894  \
0           Y        60  ...         0         0          0          0
1           Y        60  ...         0         0          3      12012
2           Y        60  ...         0         0          1       1332
3           Y        60  ...         0         0          0          0
4           Y        60  ...         1         1          2       7489
...       ...       ...  ...       ...       ...        ...        ...
155741      Y        60  ...         0         0          0          0
155742      Y        36  ...         0         0          0          0
155743      Y        60  ...         1         1          0          0
155744      Y        60  ...         0         0          2       3326
155745      Y        60  ...         0         0          1       3003

        PS0001895  PS0001896  PS0001897  CB  SP  결과값(연체회차)
0               1       7526          1   7   0          0
1               3      12012          3   6   0          0
2               2      10772          2   5   0          0
3               0          0          0   2   1          0
4               2       7489          2   2   0          0
...           ...        ...        ...  ..  ..        ...
155741          0          0          0   3   0          3
155742          0          0          0   2   0          0
155743          0          0          1   5   0          0
155744          2       3326          2   4   0          1
155745          1       3003          1   2   0          1

[155746 rows x 207 columns]

In [6]:
df.head(10)

,식별구분,PRE_LMT,PRE_RT,GOODS_CD,INA_CD,AD_NO,LIV_ADD,RES_ADD,ADD_YN,SALE_TRM,...,PS0000279,PS0000282,PS0000500,PS0001894,PS0001895,PS0001896,PS0001897,CB,SP,결과값(연체회차)
0,1000001,11000000,7.01,760143,8,AD0005,경기,경기,Y,60,...,0,0,0,0,1,7526,1,7,0,0
1,1000002,12000000,8.31,760054,15,AD0003,인천,인천,Y,60,...,0,0,3,12012,3,12012,3,6,0,0
2,1000003,9000000,14.38,760010,14,AD0002,충남,충남,Y,60,...,0,0,1,1332,2,10772,2,5,0,0
3,1000004,13000000,9.37,760010,23,AD0003,충북,충북,Y,60,...,0,0,0,0,0,0,0,2,1,0
4,1000005,15000000,7.01,760143,21,AD0005,울산,울산,Y,60,...,1,1,2,7489,2,7489,2,2,0,0
5,1000006,7400000,13.31,760036,11,AD0003,서울,서울,Y,60,...,0,0,1,500,1,500,1,2,0,0
6,1000007,1000000,13.58,760010,8,AD0002,경남,경남,Y,60,...,1,2,0,0,1,6000,3,8,0,0
7,1000008,9000000,7.91,760054,25,AD0002,강원,강원,Y,60,...,0,0,0,0,0,0,0,8,0,0
8,1000009,12000000,8.41,760054,11,AD0003,경기,경기,Y,60,...,0,0,3,12450,4,17846,6,6,0,0
9,1000010,12000000,7.81,760054,15,AD0002,충북,충북,Y,60,...,0,0,3,6894,3,6894,4,5,0,0

In [7]:
df.shape

(155746, 207)

In [18]:
target = df['PRE_LMT']
target

0         11000000
1         12000000
2          9000000
3         13000000
4         15000000
            ...
155741    11000000
155742     9000000
155743     9000000
155744    15000000
155745    11000000
Name: PRE_LMT, Length: 155746, dtype: int64

In [11]:
target = df['PRE_RT']
target

0          7.01
1          8.31
2         14.38
3          9.37
4          7.01
          ...
155741     6.84
155742     7.31
155743     6.95
155744     6.75
155745     6.74
Name: PRE_RT, Length: 155746, dtype: float64

In [14]:
import pymysql

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'pydb'
)

In [15]:
cursor = db.cursor()

sql = """
    create table pydbtest(
        id int unsigned not null auto_increment,
        pre_lmt int not null,
        primary key(id)
    )
"""

cursor.execute(sql)

db.commit()
db.close()

print("Table Creation Success")

Table Creation Success

In [17]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    insert into pydbtest(pre_lmt) values (%s)
"""

cursor.execute(sql, (40000000))

db.commit()
db.close()

print("Insertion Success")

Insertion Success

In [53]:
target

0         11000000
1         12000000
2          9000000
3         13000000
4         15000000
            ...
155741    11000000
155742     9000000
155743     9000000
155744    15000000
155745    11000000
Name: PRE_LMT, Length: 155746, dtype: int64

In [62]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'eddi',
    passwd = 'eddi@123',
    db = 'pydb'
)

cursor = db.cursor()

# https://www.dataquest.io/blog/sql-insert-tutorial/
for i,row in target.iteritems():
    sql = "INSERT INTO pydbtest (pre_lmt) VALUES (%s)"
    cursor.execute(sql, row)
    
    if i == 10:
        break

#target.to_sql(name='pydbtest', con=database_connection, if_exists='append', chunksize=10, index=False)

#database_connection.close()

db.commit()
db.close()

print("Insertion Success")

Insertion Success

C:\Users\user2\AppData\Local\Temp\ipykernel_14776\3876110633.py:12: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i,row in target.iteritems():

In [ ]:
feats